extends layout

block content
  .container
    header
     h1 Administrador de Materias  
    form#new(action="/materia" method="post" name="saveMateria")
      .group
        input#name(type="text", name="name" required)
        span.highlight
        span.bar
        label(for="name") Materia
      .group
        input#uv(type="number", name="uv" required min=3 max=5)
        span.highlight
        span.bar
        label(for="uv") Unidades Valorativas
      .group
        input#descripcion(type="text" name="descripcion" required)
        span.highlight
        span.bar
        label(for="uv") Descripción
      button.btn(type="submit")
        span Guardar
    .table
      table 
        thead
          th Nombre
          th Uv
          th Opciones
        tbody.materias
  script(src="/javascripts/main.js")
  

