extends layout

block content
  
  form(action="/materia" method="post" name="saveMateria")
    input#name(type="text", name="name", placeholder="Nombre")
    input#uv(type="number", name="uv" placeholder="uv")
    input#descripcion(type="text" name="descripcion" placeholder="Descripcion")
    input(type="submit", value="Guardar")
  .table
    table 
      thead
        th Nombre
        th Uv
        th Opciones
      tbody.materias
  script(src="/javascripts/main.js")
  

